ANCESTORS
STORJARN
HERMES

*.ICO
*.DOC
*.icns
urw
urw3-bin
*.png
*.ico
*.dat
*.DAT
*.RIT
*.PLR
*.OBJ
*.NFO
*.SAV
*.STD
*.TXT
*.BMP
RNDCAMP.*
*.BMP
TEST/
*.FNT
audio.txt
audio/
gameinfo/
*.arr
*.txt
messages/
*.nfo
truegfx/
truetile/

*.dll
*.exe

node_modules

*.CRE
*.LOG
LOG
LOG2
*.PLM
*.bak
*.urw
defaults/

vcs_revision*

*.old
